table{
font-family:Time news roman;font-size:16pt;
}
caption{ 
text-align:center;font-weight:bold;font-size:20pt;height:50px;
}
th,td{
padding:15px;height:20%;;font-size:16pt;background-color:#B0C4DE;
}
td.title{
font-weight:bold;width:30%;font-size:large;background-color:#FFA07A;color:#800000;
}
