table{
font-family:century gothic;font-size:20pt;
}
caption{ 
text-align:center;font-weight:bold;font-size:18pt;height:50px;
}
th,td{
padding:15px;height:20%;font-size:18pt;background-color:#FFFAFA;
}
td.title{
font-weight:bold;font-size:large;background-color:#EEE8AA;color:#006400;
}
